@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@layer components {
  .max-container {
    max-width: 1440px;
  }
  .active {
    @apply border-[#1EA7FF] text-[#1EA7FF];
  }
  .top {
    @apply flex items-center justify-between pb-2;
  }
  .user-info {
    @apply flex items-center gap-3;
  }
  .own {
    @apply justify-end p-2;
  }

  .text-msg {
    @apply rounded-lg bg-[#ECEFFA] p-2 text-[12px] text-[#768396] dark:bg-dark-Primary;
  }
  .message {
    @apply flex gap-3;
  }
}
@font-face {
  font-family: "DMSans";
  src: url("../public/fonts/DM_Sans/static/DMSans_18pt-Regular.ttf");
}
@layer base {
  * {
    @apply m-0 box-border p-0 font-DMSans text-[14px];
  }

  :root {
    --light-bg-primary: 255, 255, 255;
    --light-bg-secondary: 243, 244, 248;
    --light-bg-light-white: 251, 250, 255;
    --dark-bg-primary: 30, 31, 37;
    --dark-bg-secondary: 19, 21, 23;

    --light-primaray-text: 225, 227, 231;

    --btn-primary: 81, 80, 249;
  }
  :root {
    --light-bg-primary: 255, 255, 255;
    --light-bg-secondary: 243, 244, 248;
    --light-bg-light-white: 251, 250, 255;
    --dark-bg-primary: 30, 31, 37;
    --dark-bg-secondary: 19, 21, 23;
    --dark-text: 225, 227, 231;
    --btn-primary: 81, 80, 249;
  }
}
@layer utilities {
  .own-msg {
    @apply bg-btn-primary text-white dark:bg-btn-primary;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
